<footer >
    <div class="f-info">
        <div class="f-info-social">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-square-linkedin"></i></a>
        </div>
        <div class="f-name"><i class="fa-solid fa-copyright"></i>2026 GROCERY-STORE, Inc.</div>
        <div class="f-name"><i class="fa-solid fa-copyright"></i> <b>DEVELOPER:- </b> YOGESH SINGH SHEKHAWAT (yogajm8@gmail.com)</div>
        <div class="f-info-link">
            <a href="listings/privacy">Privacy</a>
            <a href="listings/terms">Terms </a>
            <a href="listings/details">Company Details</a>
        </div>
    </div>
</footer>