<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-6 offset-3 alert alert-primary mt-5">
        <p><b style="text-align: center;">ERROR: </b><span style="color: red;">*</span><br>
            <b>STATUS</b>: <%= status %> <br>
            <B>MESSAGE</B>: <%= message %></p>
    </div>
</div>
